@tailwind base;
@tailwind components;
@tailwind utilities;

.education-box,
.experience-box {
  height: 15rem; 
}
/* styles.css */

.marquee-container {
  overflow: hidden;
  position: relative;
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite; /* Adjust the animation duration as needed */
}

.marquee a.logo {
  display: inline-flex;
  align-items: center;
  margin-right: 40px; /* Adjust the spacing between logos as needed */
}

/* Keyframes for the marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
